*{
	width: auto;
	height: auto;
	background-color: khaki;
	text-align: center;
}
.container{
	border: 2px solid rgb(73, 73, 72);
	display: block;
	height: 50%;
	width: 50%;
	border-radius: 6px;
	position: absolute;
	top: 204px;
	left: 30%;
   text-align: center;
   border-collapse: collapse;
}
h1{
	color: black;
	text-align: center;
	font-size: 28px;
	font-family: 'Times New Roman', Times, serif;
}
p{
	font-size: 18px;
	text-align: left;
}
input[type=submit] {
	background-color: honeydew;
	padding: 10px 16px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	width: 150px;
}
input[type=text],input[type=tel], input[type=email],input[type=date],input[type=password],select {
	border: 1px solid rgb(73, 73, 72);
	width: 300px;;
}
input[type=submit]:hover{
	background-color: blue;
	color: aliceblue;
}